@import url("//hello.myfonts.net/count/2fa2c5");
@font-face {font-family: 'SantEliaRough-BoldTwo';src: url('webfonts/2FA2C5_0_0.eot');src: url('webfonts/2FA2C5_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2FA2C5_0_0.woff2') format('woff2'),url('webfonts/2FA2C5_0_0.woff') format('woff'),url('webfonts/2FA2C5_0_0.ttf') format('truetype');}

// FONTS
$display-font: SantEliaRough-BoldTwo, script;
$text-font: "Oswald", sans-serif;

// FONT WEIGHTS
$header-weight: 700;
$subhead-weight: 400;
$body-weight: 300; 

// COLORS
$primary-red: #6F1B08;
$primary-blue: #4BB7F7;
$secondary-tan: #C9A885;
$secondary-yellow: #F3E29D;
$secondary-blue: #B3DFFA;
$logo-blue: #2F7DC1;
$logo-red: #C53526;
$logo-yellow: #FCB64A;
$logo-gray: #525253;
