// FONTS
$display-font: SantEliaRough-BoldTwo, script;
$text-font: "Oswald", sans-serif;

// FONT WEIGHTS
$header-weight: 700;
$subhead-weight: 400;
$body-weight: 300; 

// COLORS
$primary-red: #6F1B08;
$primary-blue: #4BB7F7;
$secondary-tan: #C9A885;
$secondary-yellow: #F3E29D;
$secondary-blue: #B3DFFA;
$logo-blue: #2F7DC1;
$logo-red: #C53526;
$logo-yellow: #FCB64A;
$logo-gray: #525253;
