@import url("//hello.myfonts.net/count/2fa3ee");
@font-face {font-family: 'SantEliaRough-BoldTwo';src: url('webfonts/2FA3EE_0_0.eot');src: url('webfonts/2FA3EE_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2FA3EE_0_0.woff2') format('woff2'),url('webfonts/2FA3EE_0_0.woff') format('woff'),url('webfonts/2FA3EE_0_0.ttf') format('truetype');}
@import "partials";

html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}
body {
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background-color: $secondary-blue;
}

/* --INDEX-- */

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9C4927;
    z-index: 100;
}
#status {
    width: 381px;
    height: 136px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../images/ArmadilloLoader.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -68px 0 0 -190.5px;
}
.wrapper {
	width: 100%;
	background-color: $secondary-blue;
	min-width: 352px;
	max-width: 1600px;
	position: relative;
	margin: 0 auto;
}
#header-rule {
	width: 100%;
	height: 18px;
	background-color: $primary-red;
} 
#logo-lockup {
	position: absolute;
	top: 48px;
	left: 2.5%;
	z-index: 2;
	img {
		width: 175px;
	}
}
#nav-bar {
	overflow: hidden;
	width: 100%;
	background-color: $primary-blue;
	padding: 18px 0 14px 0;
	margin-top: 62px;
	box-sizing: border-box;
	#address {
		display: none;
	}
	#address-mobile {
		font-family: $text-font;
		font-size: 1.125em;
		font-weight: $header-weight;
		line-height: 1.25em;
		color: #FFF;
		margin: 0 0 0 200px;
		float: left;
		text-align: left;
	}
	ul {
		width: 252px;
		list-style-type: none;
		margin: 57px auto 0 auto;
		padding: 0;
		display: block;
		li {
			font-family: $text-font;
			font-size: 1.125em;
			font-weight: $header-weight;
			float: left;
			margin: 0;
			a {
				text-decoration: none;
				color: #FFF;
				line-height: 3.5em;
			}
			div {
				height: 62px;
				width: 63px;
			}
		}
			li:first-child {
				background: url("../images/Icon-Menu-mobile.png") center center no-repeat;
			}
			li:nth-child(2) {
				background: url("../images/Icon-History-mobile.png") center center no-repeat;
			}
			li:nth-child(3) {
				background: url("../images/Icon-Press-mobile.png") center center no-repeat;
			}
			li:nth-child(4) {
				background: url("../images/Icon-Taquiza-mobile.png") center center no-repeat;
			}
			span {
				opacity: 0;
			}
	}
}
#image-container {
	width: 100%;
	margin-top: 0;
	display: block;
	background-color: $secondary-yellow;
	box-sizing: border-box;
	overflow: hidden;
}
.item img {
	width: 100%;
	p {
		font-family: $display-font;
		font-weight: $header-weight;
		font-size: 4em;
		margin: 300px 0 0 200px;
	}
}
#outer-rule-top {
	width: 100%;
	height: 110px;
	background-color: $secondary-yellow;
	box-sizing: border-box;
	padding-top: 30px;
	#inner-rule-top {
		width: 100%;
		height: 62px;
		background-color: $secondary-tan;
	}
}
.hours-location {
	width: 100%;
	background-color: $secondary-tan;
	padding: 18px 0 18px 3%;
	box-sizing: border-box;
	float: left;
	background-image: url("../images/Oak_Yellow.png");
	background-repeat: no-repeat;
	background-position: bottom -100px left -600px;
	p {
		font-family: $text-font;
		font-weight: $subhead-weight;
		font-size: 1.125em;
		color: $primary-red;
		margin: 0;
		display: inline-block;
		vertical-align: top;
	}
	#phone-email {
		font-size: 1.125em;
		margin-right: .25em;
		text-align: right;
		a {
			color: $primary-red;
		}
		a:hover {
			color: #FFF;
		}
	}
	#hours {
		margin: 0 10px 10px 0;
	}
	.map {
		width: 316px;
		height: 184px;
		margin: 0 auto 14px auto;
		background: url("../images/TacoFlats_map.svg") center center no-repeat;
		display: block;
	}
	#address {
		margin-bottom: 10px;
	}
	#directions {
		line-height: 1.25em;
	}
}
#outer-rule-bottom {
	width: 100%;
	height: 18px;
	background-color: $primary-red;
	clear: both;
}
#inner-rule-bottom {
	width: 100%;
	height: 62px;
	background-color: $secondary-tan;
}
#news-sidebar {
	width: 90%;
	background-color: $secondary-yellow;
	border-radius: 15px;
	padding: 0 18px 18px 18px;
	float: left;
	margin: 36px 0 18px 18px;
	box-sizing: border-box;
	#fn-logo {
		margin: -18px 0 -18px 5%;
	}
	p {
		font-family: $text-font;
		font-weight: $body-weight;
		font-size: 1.25em;
		line-height: 1.325em;
		color: $primary-red;
		margin: 12px auto 0 auto;
		max-width: 450px;
	}
}
#BBQ-lockup {
	width: 303px;
	position: relative;
	margin: 0 auto;
	h4 {
		font-family: $text-font;
		font-weight: $subhead-weight;
		font-size: 1em;
		color: $primary-red;
		display: inline-block;
		vertical-align: top;
		margin: 30px 0 48px 0;
	}
	#BBQ-logo {
		position: absolute;
		width: 116px;
		z-index: 3;
	}
	#BBQ-taco {
		margin-top: -34px;
		width: 302px;
	}
}
.taquiza-info {
	width: 100%;
	padding: 18px 3% 18px 3%;
	background-color: $primary-red;
	box-sizing: border-box;
	background-image: url("../images/Oak_Tan.png");
	background-repeat: no-repeat;
	background-position: bottom -100px right -600px;
}
#taquiza-header {
	font-family: $display-font;
	font-weight: normal;
	font-style: normal;
	font-size: 5em;
	color: $secondary-yellow;
	margin: 0 0 0 -9px;
}
#taquiza-story {
	margin: 9px 0 32px 0;
	#taquiza-paragraph {
		font-family: $text-font;
		font-weight: $body-weight;
		font-size: 1.25em;
		line-height: 1.325em;
		color: $secondary-yellow; 
		margin: 0 0 18px 0;
	}
	a {
		text-decoration: none;
		color: $primary-red;
		button {
			float: right;
			width: 150px;
			margin: 0;
			padding: 6px 6px 5px 6px;
			font-family: $text-font;
			font-size: 1.125em;
			font-weight: $header-weight;
			background-color: $secondary-yellow;
			border: 0;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
		}
	}
	a:hover {
		color: #FFF;
		button {
			background-color: $primary-blue;
		}
	}
}
#taquiza-collage {
	width: 340px;
	/*margin: 0 auto;*/
	margin: 0 0 18px 0;
	img {
		width: 340px;
	}
}
footer {
	width: 100%;
	height: 115px;
	padding: 0 18px 0 18px;
	box-sizing: border-box;
}
#bottom-logo {
	width: 250px;
	margin: 10px auto 30px auto;
	a {
		float: left;
		margin-right: -24px;
	}
	p {
		font-family: $text-font;
		font-weight: $subhead-weight;
		font-size: 1em;
		line-height: 1em;
		color: $primary-blue;	
		text-align: right;
		margin: 0;
		padding-top: 18px;
	}
}
#bottom-logo:hover {
	p {
		color: $primary-red;
	}
}
.social-media {
	width: 155px;
	float: left;
	padding: 0;
	margin: 0;
	a:first-child {
		margin-right: 19px;
	}
	a:nth-child(2) {
		margin-right: 18px;
	}
	a:nth-child(3) {
		margin-right: 0;
	}
}
#design {
	float: right;
}

/* --MENU-- */

.content-wrapper {
	width: 100%;
	margin-top: 0;
	display: block;
	background-color: $primary-red;
	box-sizing: border-box;
	overflow: hidden;
	padding: 24px 0 0 0;
}
#armadillo {
	width: 600px;
	margin: 30px 0 0 -60px;
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		animation: walk 5.7s linear forwards;
		z-index: 1;
	}
	@keyframes walk {
		from {
			left: 0;
			}
		to {
			left: 90px;
			}
	}
}
#menu-buttons {
	width: 150px;
	margin: 128px auto 12px auto;
	button {
		width: 150px;
		margin: 6px auto 6px auto;
		padding: 6px 6px 5px 6px;
		background-color: $secondary-tan;
		font-family: $text-font;
		font-size: 1.125em;
		font-weight: $header-weight;
		color: $primary-red;
		border: 0;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
	}
}
#menus-wrapper {
	width: 352px;
	margin: 0 auto;
	box-sizing: border-box;
}
h2 {
	font-family: $display-font;
	font-weight: normal;
	font-style: normal;
	font-size: 2.5em;
	color: $secondary-yellow;
	margin: 0 0 6px 0;
}
.beer-menu, .food-menu, .cocktail-menu {
	margin-bottom: 30px;
}
.beer-menu {
	display: block;
}
.food-menu {
	display: none;
}
.cocktail-menu {
	display: none;
}
hr {
	background-color: none;
	border: $primary-blue 3px dotted;
	border-style: none none dotted;
	color: #FFF;
}
#menu-1, #menu-2, #menu-text, #menu-3, #menu-4, #menu-text-fd, #menu-5, #menu-6, #menu-text-ckt {
	width: 348px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
#menu-1, #menu-2, #menu-3, #menu-4, #menu-5, #menu-6 {
	background-color: $secondary-yellow;
	border-radius: 7px;
	padding: 1em;
	p {
		font-family: $text-font;
		font-weight: $body-weight;
		font-size: 1.25em;
		line-height: 1.5em;
		color: #000;
	}
}
#menu-1 p, #menu-2 p {
		margin: 0 0 1.5em 0;
}
#menu-1, #menu-3, #menu-5 {
	margin: 0 0 20px 0;
}
#menu-text, #menu-text-fd, #menu-text-ckt {
	color: $secondary-yellow;
	padding: 1em .5em 0 1em;
	p {
		margin: 0;
		font-family: $text-font;
		font-weight: $body-weight;
		font-size: 1.25em;
		line-height: 1.25em;
	}
}
h3 {
	font-family: $text-font;
	font-size: 1.25em;
	font-weight: $header-weight;
	color: $primary-red;
	margin: 0 0 1em 0;
}
#menu-3 p {
	margin: 0;
}
#menu-4 p, #menu-5 p, #menu-6 p {
	margin: 0 0 .5em 0;
}
#menu-4 h3 {
	margin: 0;
}
h4 {
	font-family: $text-font;
	font-size: 1.25em;
	font-weight: $subhead-weight;
	color: #000;
	margin: 0;
}
#secondary-rule-bottom {
	width: 100%;
	height: 30px;
	background-color: $secondary-yellow;
}

/* --TAQUIZA-- */

#taquiza-wrapper {
	width: 352px;
	margin: 0 auto 30px auto;
	padding-top: 62px;
	box-sizing: border-box;
}
#taquiza-info {
	width: 348px;
	display: inline-block;
	vertical-align: top;
	padding-right: 1em;
	margin-bottom: 18px;
	p {
		margin: 0;
		font-family: $text-font;
		font-weight: $body-weight;
		font-size: 1.25em;
		line-height: 1.25em;
		color: $secondary-yellow;
	}
}
#taquiza-form {
	width: 348px;
	display: inline-block;
}
#options-meats {
	width: 124px;
	display: inline-block;
	float: left;
	margin-right: 30px;
}
#options-apps {
	display: inline-block;
}
#options-toppings {
	width: 124px;
	display: inline-block;
	clear: left;
	float: left;
	margin: 16px 30px 0 0;
}
#options-tortilla {
	margin-top: 16px;
}
#contact-info, #event-info, #options {
	border: 2px solid $secondary-blue;
	padding: 24px;
	margin: 8px 0 8px 0;
	font-family: $text-font;
	font-size: 1.125em;
	color: $secondary-yellow;
}
legend {
	font-family: $text-font;
	font-size: 1.25em;
	font-weight: $subhead-weight;
	color: $secondary-blue;
}
input[type="text"] {
	margin: 6px 0 8px 0;
	color: $secondary-yellow;
	width: 50%;
	border: 1px solid $secondary-yellow;
	background-color: $primary-red;
}
input[type="radio"] {
	margin: 6px 6px 6px 0;
}
input[type="date"], input[type="time"], input[type="location"] {
	margin: 6px 0 9px 0;
	color: $secondary-yellow;
	border: 1px solid $secondary-yellow;
	background-color: $primary-red;
}
.info-options {
	margin-bottom: 8px;
	width: 170px;
	background-color: $primary-red;
	border: 1px solid $secondary-yellow;
}
#people {
		margin-top: 6px;
}
#options p {
	font-family: $text-font;
	font-weight: $body-weight;
	font-size: 1em;
	color: #FFF;
	margin: 6px 0 -6px 0;
}
h5 {
	font-family: $text-font;
	font-size: 1.25em;
	font-weight: $subhead-weight;
	color: $secondary-yellow;
	margin: 12px 0 -12px 0;
}
textarea[name="addl-info"] {
	width: 60%;
	height: 120px;
	overflow: auto;
	font-family: $text-font;
	font-size: 1.125em;
	color: $secondary-yellow;
	border: 1px solid $secondary-yellow;
	background-color: $primary-red;
}
#submit {
	width: 150px;
	margin-top: 9px;
	padding: 6px 6px 5px 6px;
	background-color: $secondary-tan;
	font-family: $text-font;
	font-size: 1.125em;
	font-weight: $header-weight;
	border: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	a {
		text-decoration: none;
		color: $primary-red;
	}
}

/* --HISTORY-- */

#history-text p, #history-1 p, #history-2 p {
	margin: 24px 18px 30px 18px;
	font-family: $text-font;
	font-weight: $body-weight;
	font-size: 1.125em;
	line-height: 1.25em;
	color: $secondary-yellow;
}
#history-1 img:first-child {
	margin-left: -24px;
	margin-bottom: 10px;
}
#history-1 img:nth-child(2) {
	margin-left: 60px;
}
#history-2 img:first-child {
	margin-bottom: 10px;
}

/* --PRESS-- */

#press-wrapper {
	padding: 0 5% 30px 5%;
}
.reviews {
	width: 100%;
	margin: 0 auto;
	background-color: $secondary-yellow;
	border-radius: 7px;
	box-sizing: border-box;
	overflow: hidden;
	padding: 1em;
}
#excerpt {
	margin: -16px 0  0; 
	font-family: $text-font;
	font-weight: $body-weight;
	font-size: 1.25em;
	line-height: 1.25em;
	color: #000;
}
#direct {
	margin: 0 0 16px 0;
	font-family: $text-font;
	font-weight: $body-weight;
	font-style: italic;
	font-size: 1.25em;
	line-height: 2em;
	a {
		color: $primary-red;
	}
}

/* --CONFIRMATION-- */

.gracias-wrapper {
	width: 528px;
	top: 280px;
	margin: 0 auto;
	position: relative;
}
#top {
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	z-index: 2;
	animation: appear 1s;
}
@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#bottom {
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	z-index: 1;
}
#return-button {
	position: absolute;
	top: 230px;
	left: 200px;
	z-index: 3;
	width: 150px;
	margin: 6px auto 6px auto;
	padding: 6px 6px 5px 6px;
	background-color: #5cb4e5;
	font-family: $text-font;
	font-size: 1.125em;
	text-align: center;
	font-weight: $header-weight;
	border: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	animation: fadein 3s;
	a {
		text-decoration: none;
		color: $secondary-blue;
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* 493 BREAKPOINT */
@media (min-width: 493px) {
	.hours-location {
		background-position: bottom -100px left -500px;
		padding: 18px 3% 18px 3%;
		#phone-email {
			margin-right: .75em;
		}
	}
	.hours-location #address {
		width: 442px;
		text-align: left;
		display: block;
		margin: 0 auto 10px auto;
	}
	.hours-location #directions {
		width: 442px;
		display: block;
		margin: 0 auto;
	}
	#taquiza-collage {
		margin: 0 auto 18px auto;
		img {
			width: 370px;
		}
	}
	#history-wrapper {
		width: 90%;
		margin: 0 auto;
	}
	#history-1, #history-2, #history-3 {
		width: 90%;
		margin: 0 auto;
	}
	#history-1 img:first-child {
		margin-top: 2px;
		margin-left: -10px;
		margin-bottom: -30px;
	}
	#history-1 img:nth-child(2) {
		margin-left: 170px;
		margin-top: -40px;
	}
	#history-2 img:first-child {
		margin-left: 80px;
	}
}

/* 632 BREAKPOINT */
@media (min-width: 632px) {
	#nav-bar {
		padding: 0 3% 18px 344px;
		margin-top: 30px;
		#address {
			display: block;
			font-family: $text-font;
			font-size: 1.375em;
			font-weight: $header-weight;
			color: #FFF;
			margin: 16px 4px 4px 9px;
			float: left;
			text-align: left;
		}
		#address-mobile {
			display: none;
		}
		ul {
			margin: 0;
			float: left;
		}
	}
	#logo-lockup {
		top: 61px;
		img {
			width: 319px;
		}
	}
	#image-container {
		clear: both;
	}
	.hours-location .map {
		width: 458px;
		height: 267px;
		float: right;
		margin: 0 10% 14px 0;
	}
	.hours-location #address {
		float: right;
		display: block;
		margin: 0 11% 10px 0;
	}
	.hours-location #directions {
		float: right;
		display: block;
		margin: 0 11% 0 0;
	}
	#taquiza-header {
		margin: 0;
	}
	#armadillo {
		width: 600px;
		margin: 30px auto 0 auto;
	}
	#news-sidebar {
		margin: 36px 0 18px 30px;
		#fn-logo {
			margin: -18px 0 -18px 10%;
		}
	}
	#BBQ-lockup {
		#BBQ-taco {
			width: 310px;
		}
	}
	#taquiza-wrapper {
		width: 520px;
	}
	#taquiza-info {
		width: 520px;
	}
	#taquiza-form {
		width: 520px;
	}
	#history-1 img:first-child {
		margin-left: 63px;
		margin-bottom: -120px;
		margin-top: 30px;
	}
	#history-1 img:nth-child(2) {
		margin-top: -40px;
		margin-left: 240px;
	}
	#history-2 img:first-child {
		margin-left: -40px;
	}	
	#history-2 img:nth-child(2) {
		margin-left: 10px;
	}
}

/* 760 BREAKPOINT */
@media (min-width: 760px) {
	.content-wrapper {
	padding: 38px 18px 0 18px;
	}
	#taquiza-wrapper {
		margin: -14px auto 30px auto;
	}
	#menu-buttons {
		width: 460px;
		button {
			width: 150px;
			margin: 0 auto;
		}
	}
	#menus-wrapper {
		width: 756px;
	}
	#menu-1, #menu-3, #menu-5 {
		margin: 0 10px 0 0;
	}
	#menu-text, #menu-text-fd, #menu-text-ckt {
		width: 711px;
		padding: 1em 1em 0 1em;
	}
	#press-wrapper {
		padding: 60px 5% 30px 5%;
		width: 638.125px;
		margin: 0 auto;
	}
	#news-sidebar {
		width: 352px;
		margin: 36px 10px 18px 18px;
		#fn-logo {
			margin: -18px 0 -18px 5%;
		}
	}
	#BBQ-lockup {
		width: 303px;
		position: relative;
		margin: 0 auto;
	}
	#taquiza-collage {
		img {
			width: 420px;
		}
	}
	footer {
		height: 54px;
		padding: 0 18px 0 18px;
		box-sizing: border-box;
	}
	.social-media {
		float: none;
		margin: 18px auto -38px auto;
	}
	#bottom-logo {
		margin: -9px 3% 0 0;
		float: left;
	}
}

/* 881 BREAKPOINT */
@media (min-width: 881px) {
	#nav-bar {
		padding: 0 18px 0px 344px;
		ul {
			float: right;
			li {
				text-align: center;
				text-indent: 0;
				white-space: normal;
				div:hover {
					a {
						opacity: 0;
					}
				}
				#menu:hover {
					background: url("../images/Icon-Menu_initial.png") center center no-repeat;
				}
				#history:hover {
					background: url("../images/Icon-History_initial.png") center center no-repeat;
				}
				#press:hover {
					background: url("../images/Icon-Press_initial.png") center center no-repeat;
				}
				#taquiza:hover {
					background: url("../images/Icon-Taquiza_initial.png") center center no-repeat;
				}
			}
				li:first-child {
					background-image: none;
				}
				li:nth-child(2) {
					background-image: none;
				}
				li:nth-child(3) {
					background-image: none;
				}
				li:nth-child(4) {
					background-image: none;
				}
				span {
					opacity: 1;
				}
		}
	}
	.content-wrapper {
	margin-top: 61px;
	}
	#image-container {
		margin-top: 61px;
	}
	.taquiza-info {
		background-position: bottom -100px right -400px;
	}
	#news-sidebar {
		margin: 36px 18px 18px 18px;
	}
	#history-2 img:first-child {
		margin-left: 0;
	}
	#history-2 img:nth-child(2) {
		margin-left: 10px;
	}
	#history-3 img {
		margin-left: 80px;
	}
}

/* 982 BREAKPOINT */
@media (min-width: 982px) {
	#nav-bar {
		ul {
			width: 300px;
			li {
				font-size: 1.25em;
				div {
					width: 72px;
					a {
						line-height: 3em;
					}
				}
			}
		}
	}
	.hours-location {
		background-position: bottom -100px left -320px;
	}
	.hours-location #phone-email, #hours {
		float: left;
	}
	.hours-location #phone-email {
		margin-right: .975em;
	}
	.hours-location .map {
		float: left;
		margin: 0 0 14px 14px;
	}
	.hours-location #address {
		float: left;
		margin: 0 11% 10px 384px;
	}
	.hours-location #directions {
		float: left;
		margin: 0 0 0 384px;
	}
	#location {
		width: 850px;
		margin: 0 auto;
		overflow: hidden;
		box-sizing: border-box;
	}
	.hours-location .map {
		float: left;
		margin: 0 0 14px 0;
	}
	#news-sidebar {
		width: 402px;
		padding: 0 24px 36px 24px;
		margin: 56px 24px 18px 18px;
		p {
			font-size: 1.375em;
			line-height: 1.375em;
		}
	}
	#BBQ-lockup {
		width: 353px;
	h4 {
		font-size: 1.25em;
		margin: 30px 0 48px 0;
		color: $primary-red;
		display: inline-block;
		vertical-align: top;
		}
		#BBQ-logo {
			width: 126px;
		}
		#BBQ-taco {
			margin-top: -34px;
			width: 352px;
		}
	}
	#taquiza-story {
		width: 908px;
		margin: 0 auto 32px auto;
	}
}

/* 1024 BREAKPOINT */
@media (min-width: 1024px) {
	#nav-bar {
		padding: 0 3% 0 367px;
		#address {
			margin: 16px 4px 0 0;
		}
	}
	#logo-lockup {
		left: 30px;
	}
	.taquiza-info {
		padding: 18px 3% 18px 3%;
	}
	#taquiza-collage {
		img {
			width: 460px;
		}
	}
	#news-sidebar {
		margin: 56px 32px 18px 24px;
	}
	.hours-location {
		padding: 18px 3% 18px 3%;
	}
	#history-2 img:nth-child(2) {
		margin-bottom: 10px;
	}
}

/* 1046 BREAKPOINT */
@media (min-width: 1046px) {
	#history-1 img:first-child {
		margin-left: 120px;
		margin-bottom: 0;
		margin-top: 0;
		margin-right: 10px;
	}
	#history-1 img:nth-child(2) {
		margin-top: 0;
		margin-left: 0;
	}
}

/* 1120 BREAKPOINT */
@media (min-width: 1120px) {
	.content-wrapper {
		padding: 24px 0 0 0;
	}
	#news-sidebar {
		margin: 56px 32px 18px 32px;
	}
	#taquiza-collage {
		width: 100%;
		margin: 0 0 18px 62px;
		img {
			width: 606px;
		}
	}
	#menus-wrapper {
		width: 1063px;
	}
	#menu-text, #menu-text-fd, #menu-text-ckt {
		width: 348px;
		padding: 0 0 0 1em;
	}
	#taquiza-wrapper {
		width: 1063px;
		margin: 0 auto 30px auto;
	}
	#taquiza-info {
		width: 520px;
		margin-top: 0;
	}
	#taquiza-form {
		width: 520px;
	}
	#history-wrapper {
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;
	}
	#history-1, #history-2, #history-3 {
		width: 1120px;
		margin: 0 auto;
	}
	.photos {
		float: left;
		margin-right: 18px;
	}
	#history-text p, #history-1 p, #history-2 p {
		margin-left: 18px;
		margin-right: 60px;
	}
	#history-2 img:first-child {
		margin-left: 40px;
		margin-top: 10px;
	}
	#history-2 img:nth-child(2) {
		margin-left: 10px;
	}
	#history-3 img {
		margin-bottom: 30px;
	}
}

/* 1551 BREAKPOINT */
@media (min-width: 1551px) {
	#location {
		width: 1304px;
		margin: 0 0 0 13%;
	}
	.hours-location #address {
		width: 300px;
		margin: 0 11% 10px 16px;
	}
	.hours-location #directions {
		width: 300px;
		margin: 0 0 0 16px;
	}
}