/*
Error: Invalid CSS after "@import ": expected "{", was "url("//hello.my..."
        on line 2 of css/style.scss

1: <<<<<<< HEAD
2: @import url("//hello.myfonts.net/count/2fa3ee");
3: @font-face {font-family: 'SantEliaRough-BoldTwo';src: url('webfonts/2FA3EE_0_0.eot');src: url('webfonts/2FA3EE_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2FA3EE_0_0.woff2') format('woff2'),url('webfonts/2FA3EE_0_0.woff') format('woff'),url('webfonts/2FA3EE_0_0.ttf') format('truetype');}
4: =======
5: >>>>>>> 980c49e940129ac15557a4cf3a3fe44bc5b14af5
6: @import "partials";
7: 

Backtrace:
css/style.scss:2
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1162:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1098:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1093:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:638:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:632:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:657:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:647:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:117:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/engine.rb:403:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:252:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@import \": expected \"{\", was \"url(\"//hello.my...\"\A         on line 2 of css/style.scss\A \A 1: <<<<<<< HEAD\A 2: @import url(\"//hello.myfonts.net/count/2fa3ee\");\A 3: @font-face {font-family: 'SantEliaRough-BoldTwo';src: url('webfonts/2FA3EE_0_0.eot');src: url('webfonts/2FA3EE_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2FA3EE_0_0.woff2') format('woff2'),url('webfonts/2FA3EE_0_0.woff') format('woff'),url('webfonts/2FA3EE_0_0.ttf') format('truetype');}\A 4: =======\A 5: >>>>>>> 980c49e940129ac15557a4cf3a3fe44bc5b14af5\A 6: @import \"partials\";\A 7: "; }
